* {
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Courier New', Courier, monospace;
    background-color: #F0F0F0;
}

.middle{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 85vh;
}

.container {
    background-color: #f5f5f5;
    border-radius: 10px;
    padding: 20px;
    text-align: right;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
}

.calc-area {
    background-color: #FFFFFF;
    color: #000000;
    padding: 20px;
    margin: 5px;
    margin-bottom: 10px;
    font-size: 24px;
    border: 1px solid #CCCCCC;
}

button {
    width: 70px;
    height: 70px;
    background-color: #E0E0E0;
    color: #333333;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    margin: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

button:hover {
    background-color: #C0C0C0;
}

.operator-button {
    background-color: #FFA500; 
    color: #FFFFFF;
    font-size: 24px; 
}

.clear-button, .del-button {
    flex-grow: 1;
    width: 0;
}

.clear-button {
    background-color: #BDC3C7;
    color: #333333;
}

.del-button {
    background-color: #BDC3C7; 
    color: #333333;
}

.row {
    display: flex; 
    justify-content: space-between;
    margin: 5px 0;
}
